%h1 Enjoy.
%div#radius
  %input{type:'radio', name:'radius', value: '0.25', onclick: 'getLocation()'} 1/4
  %input{type:'radio', name:'radius', value: '0.5', onclick: 'getLocation()', checked: 'checked'} 1/2
  %input{type:'radio', name:'radius', value: '1', onclick: 'getLocation()'} 1
  %input{type:'radio', name:'radius', value: '3', onclick: 'getLocation()'} 3
%div#map
%input{type:'submit', name:'getDirections', value: 'Get Directions', onclick: 'getDirections()'}
%div#foursquare
