html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

h1 {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande";
    text-align: center;
    font-weight: 300;
}

#map {
    height: 60%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

#foursquare {
    position: relative;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

#foursquare li {
    border-radius: 10px;
    background: #ccc;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
}

#foursquare li p {
    width: 50%;
    margin: auto;
}

#radius {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    display: none;
}

#button {
    width: 60%;
    text-align: center;
    margin: 30px auto;
}

#button input {
    margin-top: 20px;
    background-color: #B0DBF7;
    border: none;
    font-size: 2em;
    font-family: 'Roboto Slab', serif;
    padding: 10px;
    margin: 30px auto;
}

.menu {
    display:block;
    width:100px;
    height:100px;
    border-radius:50px;
    font-size:20px;
    color:#fff;
    line-height:100px;
    text-align:center;
    text-decoration:none;
    background:#000
}

.menu:hover {
    color:#ccc;
    text-decoration:none;
    background:#333
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
    body {
        /*background-color:#b0c4de;*/
    }

    #map {
        height: 65%;
        width: 100%;
    }

    h1 {
      font-size: 25px;
    }
}
